html, body {
  margin: 0;
  padding: 0;
  background-color: #f8ecec;
}

header {
  position: fixed; /* ヘッダーを固定 */
  display: flex; /* フレックスレイアウトを指定 */
  align-items: center; /* 垂直方向の中央揃え */
  background-color: #f3b0b0;
  color: #fff;
  width: 100%; /* ヘッダーの横幅を100%に設定 */
  padding: 20px 20px; /* パディングを追加 */
  box-sizing: border-box; /* パディングを含めて要素のサイズを計算 */
  z-index: 1000; /* ヘッダーの重なり順を上げる */
}

.titlename {
  font-size: 1.5em;
  margin: 0;
}


.navbar {
  margin-left: auto; /* タイトルの横に配置 */
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.navbar ul li a:hover {
  opacity: 0.5;
}

.hilight {
  background-color: #f1c0ca;
  border: 2px solid #f68787;
  border-radius: 10px; /* 角を丸くする */
}

.contents {
  width: 100%; /* コンテンツの横幅を指定 */
  overflow: auto; /* コンテンツのスクロールを有効に */
  padding-top: 75px; /* ヘッダー固定のための余白を追加 */
  box-sizing: border-box; /* パディングを含めて要素のサイズを計算 */
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center; /* ヘッダーを中央揃え */
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0; /* 余計な余白を削除 */
  }

  .navbar ul {
    flex-direction: row;
    justify-content: center; /* リスト項目を中央揃え */
    width: 100%;
  }

  .navbar ul li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar ul li a {
    padding: 10px;
    text-align: center; /* リスト項目内のテキストを中央揃え */
  }

  .contents{
    padding-top: 100px; /* ヘッダー固定のための余白を追加 */
  }
}

@media (max-width: 345px) {
  .contents{
    padding-top: 140px; /* ヘッダー固定のための余白を追加 */
  }
}


.intro {
  font-weight: lighter;
  text-align: left;
  padding:0.5rem;
  font-size: 0.8rem;
  color: #000;
  background-color: #fff;
  display: flex;
}

.intro p{
  padding:0.5rem;
  margin-left: auto; /* タイトルの横に配置 */
  flex-direction: row;
  justify-content: center;
  display: flex;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.gallery-item {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s;
}


.gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.name {
  background-color: #ebf5f9;
  padding: 10px 0;
  color: #0e324f;
  border-bottom: 1px solid #cbbcbc;
}

.explain {
  background-color: #ffffff;
  padding: 10px 0;
  color: #0e324f;
  border-bottom: 1px solid #cbbcbc;
  text-align: left;
}

.tags {
  background-color: #ffffff;
  padding: 10px 0;
  color: #0e324f;
  text-align: left;
}


.gallery-item:hover {
  opacity: 0.7;
}


.filter-buttons {
  display: flex;
  flex-wrap: wrap;        /* 子要素がコンテナに収まりきらない場合に折り返す */
  justify-content: left;
  gap: 10px;
  margin: 20px 0;
  margin-left: 10px;
}

.filter-buttons button {
  padding: 10px 20px;
  background-color: #f3b0b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
  background-color: #d38b8b;
}

.filter-buttons button.active {
  background-color: #d38b8b;
  font-weight: bold;
}





.footer {
  background-color: #fff;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
