/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
  }


header {
    position: fixed; /* ヘッダーを固定 */
    display: flex; /* フレックスレイアウトを指定 */
    align-items: center; /* 垂直方向の中央揃え */
    background-color: #043c78;
    color: #fff;
    width: 100%; /* ヘッダーの横幅を100%に設定 */
    padding: 20px 20px; /* パディングを追加 */
    box-sizing: border-box; /* パディングを含めて要素のサイズを計算 */
    z-index: 1000; /* ヘッダーの重なり順を上げる */
    
  }
  
  .titlename {
    font-size: 1.5em;
    margin: 0;
  }
  
  
  .navbar {
    margin-left: auto; /* タイトルの横に配置 */
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
     margin-left: 10px; 
     margin-right: 10px; 
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .navbar ul li a:hover {
    opacity: 0.5;
    font-weight: 0;
    font-weight: normal;
  }
  
  .kugiri{
    padding: 10px 0;
    border-left: 2px solid #062547;
  }


  .hilight {
    background-color: #062547;
    border-radius: 8px; /* 角を丸くする */
  }

main {
    color: #333;
    width: 100%; /* コンテンツの横幅を指定 */
    overflow: auto; /* コンテンツのスクロールを有効に */
    padding: 30px;
    padding-top: 75px; /* ヘッダー固定のための余白を追加 */
    box-sizing: border-box; /* パディングを含めて要素のサイズを計算 */
    align-items: center;     /* 縦方向の中央揃え */
    flex-direction: column;  /* 内容を縦に並べる */
    max-width:800px ;
    margin: 0 auto; /* 中央寄せ */
}

  
  @media (max-width: 670px) {
    header {
      flex-direction: column;
      align-items: center; /* ヘッダーを中央揃え */
    }
  
    .navbar {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0; /* 余計な余白を削除 */
    }
  
    .navbar ul {
      flex-direction: row;
      justify-content: center; /* リスト項目を中央揃え */
      width: 100%;
    }
  
    .navbar ul li {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .navbar ul li a {
      padding: 10px;
      text-align: center; /* リスト項目内のテキストを中央揃え */
    }
  
    main{
      padding-top: 100px; /* ヘッダー固定のための余白を追加 */
    }
  }
  
  @media (max-width: 345px) {
    main{
      padding-top: 140px; /* ヘッダー固定のための余白を追加 */
    }
  }

main h1{
    font-size: 1.8rem;
    display: flex; /* フレックスレイアウトを指定 */
    width: 100%;
    padding: 0;
}

h2{
    text-decoration: underline;
    font-size: 2rem;
}

a:hover {
    color: #0056b3;
    font-weight: 600;
}

.url {
    color: #333;
    text-decoration: underline;
}

.yu-re-1 {
    color: #00000099; 
}

.yu-re-2 {
    color: #898989c3; 
}

footer {
    background-color: #e9e9e9;
    text-align: center;
    padding: 5px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    font-size: 1em;
    color: #777;
}

.setume {
    font-size: 90%;
    color: #312b0d;
}

.timeline {
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 50px;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 29px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #007bff;
}

.timeline-item {
    position: relative;
    margin: 50px 0;  /* 各項目の間に余白を追加 */
    padding-left: 50px;
}

.timeline-item:before {
    content: '';
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    z-index: 1;
    top: 0;
    transform: translateY(-50%);
}

.timeline-date {
    position: absolute;
    left: 50px;
    top: 0;
    transform: translateY(-50%);
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
}

.timeline-content {
    position: relative;
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: calc(100% - 80px);  /* 幅を調整 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 20px;  /* 内容をさらに下にずらす */
}

.timeline-end-arrow {
    position: absolute;
    left: 23px;
    bottom: 0;
    transform: translateY(70%); /* 矢印を線の終端に配置 */
}

.arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 15px solid #007bff;
    margin-left: 0;
}

.continue-text {
    font-size: 16px;
    color: #007bff;
    margin-left: 20px; /* テキストを矢印の右に配置 */
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px; /* タイムラインからの余白 */
}


.social-button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    transition: background-color 0.3s, box-shadow 0.3s;

}

.social-button img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.social-button:hover {
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: blue; /* ホバー時に文字色を青に変更 */
}

.social-button img.x-icon {
    width: 16px; /* 特定のアイコンの幅 */
    height: 16px; /* 特定のアイコンの高さ */
}

.social-button img.scr-icon {
    width: 16px; /* 特定のアイコンの幅 */
    height: 20px; /* 特定のアイコンの高さ */
}


.scr-container {
    max-width: 600px; /* 最大幅を制限 */
    max-height: 497px;
    width: 100%;
    position: relative;
    padding-bottom: 82.88%; /* アスペクト比によって調整してね*/
    height: 0;
    align-items: center;
}

.scr-container iframe {
    max-width: 600px; /* 最大幅を制限 */
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.kwsk{
    font-size: 1.2rem;
    font-weight: 900;
    width: fit-content;
    padding: 0 20px;
    color: #8b0000;
    /* background-color: #b7b064; */
    border-radius: 5px;
}

.kwsk a{
  color: #8b0000;
}

.kwsk a:hover {
  color: #0056b3;
  font-weight: 600;
}



/* スライダーのスタイル */
.slider {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  margin: auto;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%; /* スライドの幅を100%に */
  padding-top: 75%; /*比率を維持（高さを設定） */
  
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* 比率を維持して収める */
}


.slides {
  display: flex;
  transition: transform 0.5s ease;
}


.prev, .next {
  position: absolute;
  top: 0; /* ボタンの上端をスライドの上端に揃える */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0 20px; /* 横方向のパディングを調整 */
  cursor: pointer;
  z-index: 1;
  height: 100%; /* スライドの高さと一致させる */
  display: flex;
  align-items: center; /* ボタン内のテキスト（矢印）を垂直中央に配置 */
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

/* インジケーターのスタイル */
.indicators {
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.caption {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  text-align: center;
  background-color: #ffffffcf; /* 背景を半透明にする */
  color: #000;
  padding: 10px;
  font-size: 16px;
  opacity: 1;
  display: none; /* 初期状態ではキャプションは表示しない */
} 

.slide.active .caption {
  display: block; /* アクティブなスライドのキャプションを表示 */
}

.dot.active {
  background-color: white;
}



/* ギャラリースタイル */
.gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.gallery img {
  width: 150px;
  cursor: pointer;
  border-radius: 100px;
  transition: transform 0.2s;
  box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.2);
}

.gallery img:hover {
opacity: 0.8;
transform: scale(1.1); /* ホバー時に画像を拡大 */

}

.gallery-item {
  text-align: center;
}
/* ポップアップの背景（非表示時は透明） */
.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ポップアップコンテンツ */
.popup-content {
  display: flex;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
}

/* ポップアップの画像 */
.popup-content img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}


/* 閉じるボタン */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.content-container h3{
  text-decoration: underline;
  font-size: 1.3rem;
}

/* グリッドレイアウト */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 左に1カラム、右に2カラム */
  grid-gap: 20px;
}

/* 画像のスタイル */
.image-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 画像間の隙間 */
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.content-container p {
  font-size: 16px;
  margin-bottom: 15px;
}

.content-container a {
  display: inline-block;
  padding: 10px 20px;
  color: #007BFF;
  text-decoration: underline;
  border-radius: 5px;
}

.content-container a:hover {
  color: #0056b3;
}