body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh; /* フッターを画面下部に固定するために必要 */
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    background:#f9f9f9;
    color: #333;
    border-bottom: 1.5px solid #ccc;
    padding: 0 0;
    margin-top: 20px;
    max-width: 800px;
}

footer p {
    margin: 0;
}

nav {
    margin: 10px;
    padding: 5px;
    border: 1.5px solid #ccc;
    /*background-color: #e7e7e7;*/
    border-radius: 8px;
    text-align: center; /* 追加: ナビゲーションを中央揃えにする */
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.5s; /* 追加: 色のトランジションを設定 */
}

h1, h2, h3 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

a:hover {
    color: #0056b3;
    font-weight: bold;
}



.code-window {
    background: #1e1e1e;
    color: #dcdcdc;
    border-radius: 8px;
    margin: 20px 0;
    position: relative;
    padding-bottom: 1rem;
}

.code-header {
    background: #333;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.code-header span {
    font-family: monospace;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #757575;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.clicked {
    background-color: #0a3868;
}

pre {
    margin: 0;
    padding: 20px;
    overflow-x: auto;
}

code{
    margin-bottom:0px;
    padding: 20px;
    overflow-x: auto;
}


blockquote {
    background: #f4f4f4;
    padding: 10px 20px;
    border-left: 5px solid #ccc;
    margin: 20px 0;
    color: #555;
}

.codeyurei{
    opacity:0.7;
}



.guide {
    padding: 10px 20px;
    margin: 20px 0;
    color: #000000;
    font-size: 1.1rem;
}


.alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 1s ease-in-out; /* フェードアウトアニメーション */
}

footer {
    margin: 0 auto;
    background:#f9f9f9;
    color: #333;
    border-top: 1.5px solid #ccc;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    max-width: 800px;
}

footer p {
    margin: 0;
}

.cotion{
color: #bd1e1e; 
font-weight: bold;
}